@using AspNetCoreMvc_eTicaret_MovieSales.ViewModels
@model List<GenreViewModel>

<h2>Kategoriler</h2>
<a href="/Movie/Index" class="list-group-item @(ViewBag.SelectedGenreId==null? "active":"") aria-current="true">
    Tüm Ürünler
</a>

@foreach (var g in Model)
{
    <a href="/Movie/Index/@g.Id" class="list-group-item @(ViewBag.SelectedGenreId==g.Id.ToString()? "active":"") aria-current="true">
        @g.Name
    </a>
}