@model CustomerLoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Movie.cshtml";
}

<h3>Login</h3>

<div class="col-md-4">
    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>

<<div class="col">
    <h4>Kayıt olmak için <a asp-action="Create" asp-controller="Customer">tıklayınız...</a> </h4>

</div>
